# ==========================================
# TCU PLATFORM - ENVIRONMENT VARIABLES
# ==========================================

# --- GLOBAL ---
DOMAIN=topclass.id
ENVIRONMENT=production
TZ=Asia/Jakarta

# --- POSTGRESQL ---
POSTGRES_USER=tcu_admin
POSTGRES_PASSWORD=SuperSecretDatabasePassword123!
POSTGRES_DB=tcu_core

# --- REDIS ---
REDIS_PASSWORD=SecureRedisCacheKey456

# --- KEYCLOAK (IAM) ---
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=KeycloakAdminSecurePass!
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://tcu-postgres:5432/tcu_core
KC_DB_USERNAME=tcu_admin
KC_DB_PASSWORD=SuperSecretDatabasePassword123!
KC_HOSTNAME=auth.topclass.id
KC_PROXY=edge
